# Xcode
*.xcuserstate
*.xccheckout
*.moved-aside
xcuserdata/
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
*.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Sensitive
*.p12
*.mobileprovision
*.provisionprofile
